*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 100%;
	padding-left: auto;
	padding-right: auto;
}
header{
	display: flex;
	height: 80px;
}
nav ul li{
	display: inline;
}
#logo, nav > ul > li {
	line-height: 80px;
}